<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="./env/dbms.properties"/>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="io.wisoft.capstone.vo.Sensor" alias="sensor"/>
        <typeAlias type="io.wisoft.capstone.vo.User" alias="user"/>
        <typeAlias type="io.wisoft.capstone.vo.Device" alias="device"/>
        <typeAlias type="io.wisoft.capstone.vo.Car" alias="car"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/mapper/PgsqlUserDao.xml"/>
        <mapper resource="mybatis/mapper/PgsqlDeviceDao.xml"/>
        <mapper resource="mybatis/mapper/PgsqlCarDao.xml"/>
        <mapper resource="mybatis/mapper/PgsqlSensorDao.xml"/>
    </mappers>
</configuration>
